html, body, div, p, label, h3, h1 {
  font-family: 'Droid Sans', sans-serif;
}

html {
  background: url('assets/puzzlebg.jpg') center;
  background-size: cover;
}

canvas {
  cursor: grab;
  cursor: -webkit-grab;
  height: 400px;
  background: url('assets/bg.png');
  background-size: 33.33%;
  border: 10px solid black;
}

.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#instructions {
  text-align: left;
}

.links {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

h4 {
  margin: 0 30px;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  margin: 0 30px;
}

h2 {
  margin: 10px 0;
}

a:hover {
  color: red;
}

h1 {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

body {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

h3 {
  margin: 5px;
}

.orbs {
  display: none;
}

.display {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

#timer {
  font-size: 30px;
}

.time {
  margin-top: 190px;
  height: 100px;
}

.score {
  margin-top: 120px;
  height: 230px;
}

p {
  display: inline-block;
  margin: 5px 0;
}

.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s;
}

#rules {
  cursor: pointer;
  text-decoration: underline;
}

#rules:hover {
  color: red;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatebottom {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatebottom {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
