html, body, div, p, label, h3, h1 {
  font-family: sans-serif;
}

html {
  background: url('assets/puzzlebg.jpg') center;
  background-size: cover;
}

canvas {
  cursor: pointer;
  height: 400px;
  background: url('assets/bg.png');
  background-size: 33.33%;
  border: 10px solid black;
}

h1 {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

body {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

h3 {
  margin: 5px;
}

.orbs {
  display: none;
}

.display {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

#timer {
  font-size: 30px;
}

.time {
  margin-top: 190px;
  height: 100px;
}

.score {
  margin-top: 120px;
  height: 230px;
}

p {
  display: inline-block;
  margin: 5px 0;
}
